html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1; /* pushes footer down */
}
